<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'UA4SGZ3I39',
	apiKey: 'a64c71dbb52b2f4ae63498d27d27b99b',
	siteId: '4a54cf70-033d-4614-aeed-11f2be81a2bc',
	branch: 'main',
	selector: 'div#search',
  });
</script>

<script src="https://kit.fontawesome.com/96d943cb0f.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.12.3/cloudinary-core-shrinkwrap.min.js" integrity="sha512-zpIZEIdMC7aqEtfANQa5YUaByqy1TGcoPsXbaFtlll8Ngb97Diyv1xLX4K5AW67kJY8KPCCAJ3qnKhJ90rUKFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>