<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'KJAFZM9NHX',
	apiKey: '09e7a4d56979f227b9286567bfbd37e9',
	siteId: 'f867d0d5-e553-4bb8-930f-6af31410bf69',
	branch: 'main',
	selector: 'div#search',
  });
</script>

<script src="https://kit.fontawesome.com/96d943cb0f.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.12.3/cloudinary-core-shrinkwrap.min.js" integrity="sha512-zpIZEIdMC7aqEtfANQa5YUaByqy1TGcoPsXbaFtlll8Ngb97Diyv1xLX4K5AW67kJY8KPCCAJ3qnKhJ90rUKFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>